body {
  font-family: "Muli", sans-serif;
  padding-top: 6em;
}

.privacy-page {
  padding-top: 4em;
}

.terms-page {
  padding-top: 4em;
}

h1 {
  text-align: center;
  font-weight: bolder;
}

h2 {
  text-align: center;
  padding-bottom: 0.5em;
}

ul li {
  list-style: none;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.logo {
}

.logo-img {
  width: 110px;
}

.topnav {
  background-color: #e1e1e1;
  padding-left: 5em;
  display: -webkit-box;
}

.topnav li {
  padding: 0 1em;
  font-size: 1.6rem;
}

.botnav {
  display: -webkit-inline-box;
  float: right;
}

.botnav li {
  padding: 0 1em;
  font-weight: bold;
}

.botnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.botnav a:hover {
  color: #777;
}

.botnav a.active {
  background-color: #4caf50;
  color: white;
}

.icon {
  display: none;
}

.request-btn {
  background-color: #062a76;
}

.slider {
  margin-top: 2em;
}

#slideshow {
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}

.slide-wrapper {
  width: 2912px;
  -webkit-animation: slide 18s ease infinite;
}

.slide {
  float: left;
  height: 510px;
  width: 728px;
}

.slide:nth-child(1) {
  margin: 0 auto;
}

.slide:nth-child(2) {
  margin: 0 auto;
}

.slide:nth-child(3) {
  margin: 0 auto;
  background-color: white;
}

.slide:nth-child(4) {
  margin: 0 auto;
}

.services {
  background-color: #e1e1e1;
  padding-bottom: 2em;
}

.services h1 {
  padding-top: 1em;
}

.serviceCards .card {
  width: 20em;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tagline {
  background-color: #062a76;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.about-us {
  position: relative;
}

#teamPhoto {
  width: 100%;
  background: white;
  opacity: 0.7;
}

.about-us-text {
  position: absolute;
  top: 9%;
  padding: 2em;
}

.about-us p {
  font-weight: bold;
  font-size: 17px;
}

.testimonials {
  margin-top: 2em;
}

.testCards .card {
  background-color: #062a76;
  color: white;
  padding-right: 2vw;
  padding-left: 2vw;
  margin-bottom: 5vh;
  text-align: center;
  box-shadow: 5px 5px 3px #777;
}

.cards {
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.cards:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.03);
  transform: translateY(-1.5rem) scale(1.03);
}

.reviews {
  text-align: center;
  font-size: 18px;
}

footer {
  background-color: #e1e1e1;
}

.form {
  position: relative;
}

.contact {
  font-size: 2rem;
}

#contact {
  margin: 1rem 0;
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: bold;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: #062a76;
  color: white;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #0069d9;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}
::-webkit-input-placeholder {
  color: #888;
}
:-moz-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}

.line li {
  list-style: none;
}

@media (max-width: 479px) {
  .logo {
    display: contents;
  }

  .topnav {
    display: -webkit-inline-box;
    flex-wrap: wrap;
    padding: 0;
  }

  .topnav li {
    font-size: 1.2rem;
    text-align: center;
  }

  .botnav {
    display: none;
    align-items: center;
    float: none;
  }

  .icon {
    display: block;
    text-align: center;
  }

  .icon i {
    color: black;
    font-size: 1.5em;
    padding-top: 0.3em;
  }

  #slideshow {
    height: 415px;
    width: 435px;
  }

  .slide-img:nth-child(1) {
    width: 530px;
    height: 390px;
  }

  .tagline {
    font-size: 14px;
  }

  #teamPhoto {
    background: none;
    opacity: 1;
  }

  .about-us-text {
    position: relative;
    top: 0;
    padding: 2em;
  }

  .about-us p {
    font-size: 16px;
  }

  .contact {
    font-size: 1em;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 480px) {
  .tagline {
    font-size: 15px;
  }

  .about-us-text {
    position: relative;
    top: 0;
  }

  .about-us p {
    font-size: 15px;
  }

  .contact {
    font-size: 1.1em;
  }
}

/* Medium devices (tablets, 768px and down) */
@media (min-width: 768px) {
  .tagline {
    font-size: 16px;
  }

  .about-us-text {
    position: relative;
    top: 0;
    padding: 2em;
  }

  .about-us p {
    font-size: 16px;
  }
}

/* Large devices (desktops, 992px and down) */
@media (min-width: 992px) {
  h2 {
    font-size: 32px;
  }

  ul li {
    font-size: 18px;
  }

  .tagline {
    font-size: 18px;
  }

  .about-us-text {
    position: absolute;
    top: 0%;
    padding: 2em;
  }

  .about-us p {
    font-size: 16px;
  }

  .contact {
    font-size: 1.3em;
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (min-width: 1200px) {
  .tagline {
    font-size: 22px;
  }

  .about-us p {
    font-size: 18px;
  }
}

@-webkit-keyframes slide {
  20% {
    margin-left: 0px;
  }
  30% {
    margin-left: -728px;
  }
  50% {
    margin-left: -728px;
  }
  60% {
    margin-left: -1456px;
  }
  70% {
    margin-left: -1456px;
  }
  80% {
    margin-left: -2184px;
  }
  90% {
    margin-left: -2184px;
  }
}
